/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
	behaviors {
		rst: boot_reset 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "Bootloader Tap - Reset Hold";
			#binding-cells = <2>;
			tapping_term_ms = <200>;
            flavor = "balanced";
			bindings = <&reset>, <&bootloader>;
        };

        bh: layer_taps 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "Layer-Tap";
			#binding-cells = <2>;
			tapping_term_ms = <200>;
            flavor = "tap-preferred";
			bindings = <&mo>, <&kp>;
        };

        hm: homerow_mods0 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			tapping_term_ms = <200>;
            flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        };
        
        hm1: homerow_mods1 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			tapping_term_ms = <205>;
            flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        };

        hm2: homerow_mods2 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods 2";
			#binding-cells = <2>;
			tapping_term_ms = <250>;
            flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        };

        com_col: comma_semicolon
		{
		 	compatible = "zmk,behavior-hold-tap";
	     	label = "Tap comma_hold colon";
			#binding-cells = <2>;
			tapping_term_ms = <150>;
            flavor = "balanced";
		 	bindings = <&kp>, <&kp>;
	    };
   	 };
};

/ {
	combos {
		compatible = "zmk,combos";
		combo_backspce {
			timeout-ms = <50>;
			key-positions = <8 9>;
			bindings = <&kp BSPC>;
		};
		combo_gesc 
		{
			timeout-ms = <30>;
			key-positions = <0 1>;
			bindings = <&com_col GRAVE ESC>;
		};
		combo_tab 
		{
			timeout-ms = <35>;
			key-positions = <11 12>;
			bindings = <&kp TAB>;
		};
		combo_mnxt 
		{
			timeout-ms = <30>;
			key-positions = <28 29>;
			bindings = <&kp C_NEXT>;
		};
		combo_mprev 
		{
			timeout-ms = <30>;
			key-positions = <27 28>;
			bindings = <&kp C_PREV>;	
		};
		combo_mpp 
		{
			timeout-ms = <30>;
			key-positions = <27 29>;
			bindings = <&kp C_PP>;
		};
		combo_del 
		{
			timeout-ms = <40>;
			key-positions = <7 8 9>;
			bindings = <&kp DEL>;
		};
	};
};

/ {
    keymap 
	{
    compatible = "zmk,keymap";

    default_layer {
            bindings = <
    &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
    &hm LCTRL A &hm LALT S &hm LGUI D &hm LSHFT F &kp G &kp H &hm LSHFT J &hm LGUI K &hm LALT L &hm LCTRL SEMI
    &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH
    &bh 3 TAB &bh 2 BSPC &bh 1 SPACE &bh 3 RET
            >;
        };

    num {
            bindings = <
    &kp TAB &kp N7 &kp N8 &kp N9 &kp SEMI  &kp SQT   &none     &none    &none    &none
    &gresc  &kp N4 &kp N5 &kp N6 &kp MINUS &kp EQUAL &kp LSHFT &kp LGUI &kp LALT &kp LCTRL
    &kp DOT &kp N1 &kp N2 &kp N3 &kp GRAVE &kp BSLH  &none     &none    &none    &none
    &none &kp N0 &none &none
            >;
        };

    nav {
            bindings = <
    &none     &none    &none    &none     &kp SEMI  &kp SQT   &kp HOME &kp PG_DN &kp PG_UP &kp END
    &kp LCTRL &kp LALT &kp LGUI &kp LSHFT &kp MINUS &kp EQUAL &kp LEFT &kp DOWN  &kp UP    &kp RIGHT
    &none     &none    &none    &none     &kp GRAVE &kp BSLH  &none    &none     &none     &none
    &bt BT_CLR &none &kp C_PREV &kp C_PP
            >;
        };
	
	sym {
            bindings = <
    &bt BT_SEL_CMD 0 &bt BT_SEL_CMD 1 &bt BT_SEL_CMD 2 &bt BT_SEL_CMD 3 &none &kp COLON &kp DQT  &kp LBRC &none &kp RBRC
    &none            &none            &none            &none            &none &kp MINUS &kp PLUS &kp LPAR &none &kp RPAR
    &none            &none            &none            &none            &none &kp TILDE &kp PIPE &kp LBKT &none &kp RBKT
    &bt BT_CLR &trans &kp C_PREV &kp C_PP
            >;
        };

    };
};
